.page-header
  %h1
    %i.glyphicon.glyphicon-home
    =@team.stadium.name

%h4
  %i.glyphicon.glyphicon-th
  %b Capacity:
  =@team.stadium.capacity
%h4
  %i.glyphicon.glyphicon-eject
  %b Roof:
  =@team.stadium.roof