%h1 Listing yellow_cards

%table
  %tr
    %th
    %th
    %th

  - @yellow_cards.each do |yellow_card|
    %tr
      %td= link_to 'Show', yellow_card
      %td= link_to 'Edit', edit_yellow_card_path(yellow_card)
      %td= link_to 'Destroy', yellow_card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Yellow card', new_yellow_card_path
