%p#notice= notice

%p
  %b Description:
  = @double_yellow_card_description.description

= link_to 'Edit', edit_double_yellow_card_description_path(@double_yellow_card_description)
\|
= link_to 'Back', double_yellow_card_descriptions_path
